<div class="bg-img">
    <div class="container-fluid">

        <div class="row d-flex justify-content-center  ">
            <!-- Imagem lateral cadastro-->
    
            <!-- Formulario de cadastro-->
            <div class="col-md-8 mt-3 mb-3 vebg text-white">
    
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10 ">
    
                        <h2 class="text-center mt-2">Cadastro</h2>
    
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input [(ngModel)]='user.nome' class="form-control" type="text" name="nome" id="nome"
                                placeholder="Nome completo">
                        </div>
    
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input [(ngModel)]='user.email' class="form-control" type="text" name="email" id="email"
                                placeholder="Usuário">
                        </div>
    
                        <div class="form-group">
                            <label for="telefone">Telefone</label>
                            <input [(ngModel)]='user.telefone' class="form-control" type="text" name="telefone" id="telefone"
                                placeholder="Telefone">
                        </div>
    
                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha"
                                id="senha" placeholder="Senha">
                        </div>
    
                        <div class="form-group ">
                            <label for="confirmSenha">Confirmar Senha</label>
                            <input [(ngModel)]='user.senha' class="form-control" type="password" name="confirmSenha"
                                id="confirmSenha" placeholder="Confirme sua senha">
                        </div>
    
                        <div>
                            <label for="tipo">Tipo de Usuário</label>
                            <select (change)='tipoUser($event)' class="form-control" name="tipo" id="tipo">
                                <option>Selecione um tipo de usuário:</option>
                                <option value="rec">Recebedor</option>
                                <option value="doa">Doador</option>
                            </select>
                        </div>
    
                        <div class="d-flex justify-content-center mt-3 mb-3">
                            <button type="submit" routerLink='/entrar' class="btn btn-danger mr-4">Cancelar</button>
                            <button (click)='cadastrar()' type="submit" class="btn btn-success">Cadastrar</button>
                        </div>
    
                    </div>
                </div>
            </div>
            <!--/Formulario de cadastro-->
        </div>
    </div>
</div>
