.fs-16 {
    font-size: 16pt;
}
.fonts{
    color: #acb950;
    font-size: 18px;
    font-family: Verdana, Arial, Tahoma, Serif;
    font-weight: 700;

}

a {
    cursor: pointer;
}

.fa:hover {
    color: #acb950;
}

.linkBlack:hover {
    color: #acb950;
}

.imgLogo {
    width: 100px;
    margin: 0;
    border: 2px white solid;
    background-color: white;
    border-radius: 5px;
}

#bg {
    background-color: white;
}

p {
    margin: 0;
}

.navfonte {
    color: #acb950;
    font-size: 30px;
    font-family: Verdana, Arial, Tahoma, Serif;
}

.navfonte:hover {
    color: #556B2F;
}