.fs-16{
    font-size: 16pt;
}
a{
    cursor: pointer;
    
}
.fa:hover{
    color: #acb950;
}

.linkBlack:hover{
    
    color: #acb950;
}

.imgLogo{
    width: 100px;
    margin: 0;
}

#bg{
    background-color:#556B2F;
    
}
p{
    margin: 0;
}

.navfonte{
    color: azure;
    font-size: 30px;
}

.navfonte:hover{
    color: #acb950;
}