<nav *ngIf="!tipoMenu()" class="navbar navbar-expand-lg navbar-light " id="bg">
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon text-white"></span>
    </button>
    <img  src="https://i.imgur.com/GlEacpd.png?" class="imgLogo ml-5 mr-5" alt="">
    <div class="collapse navbar-collapse " id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item ">
                <a class="nav-link mr-5" routerLink="/home">
                    <p class="font-weight-bold navfonte" *ngIf="!tipoMenu()"> HOME</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-5" routerLink="/sobre-nos">
                    <p class="font-weight-bold  navfonte">SOBRE NÓS</p>
                </a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item pl-5">
                <a class="nav-link" href="" routerLink="/entrar">
                <p class="m-0 d  mr-5 navfonte" *ngIf="!tipoMenu()">
                                        LOGIN
                </p>
                </a>

            </li>
        </ul>

    </div>
</nav>


<nav *ngIf="tipoMenu()" class="navbar navbar-expand-lg navbar-light " id="bg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <img src="https://i.imgur.com/GlEacpd.png?" class="imgLogo ml-5 mr-5" alt="">
    <div class="collapse navbar-collapse " id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item ">

                <a class="nav-link mr-3" [routerLink]="[ '/inicio'  ]">
                    <p class="font-weight-bold navfonte" *ngIf="tipoMenu()"> Inicio</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" routerLink="/sobre-nos">
                    <p class="font-weight-bold navfonte">Sobre nós</p>
                </a>
            </li>

            <li class="nav-item pl-3">
                <a [routerLink]="['user-edit', id]">
                    <p class=" vc fs-16 m-0">
                        <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
                    </p>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item pl-5">
                <a href="" class="nav-link">
                    <p class="m-0 font-weight-bold navfonte fs-16 mr-5" *ngIf="tipoMenu()" routerLink="/home">Sair<i
                            class="fas fa-sign-in-alt"></i></p>
                </a>
            </li>
        </ul>
    </div>
</nav>