<div class="container mb-5 mt-5">

    <div class="row mb-5">
        <div class="col-md-12">
            <h1 class="text-center ve">Apagar Postagem</h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <h4 class="text-center ve">Você tem certeza que deseja apagar essa postagem? </h4>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="card border-success mb-3" style="max-width: 18rem;">
            
            <div class="card-body text-success">
                <h5 class="card-title">{{postagem.quantidade}}</h5>
                <p class="card-text">{{postagem.categoria}}</p>
            </div>
            <div class="card-footer bg-transparent border-success">
                <div>
                    <small class="text-muted">{{postagem.data | date: 'dd/MM/yyyy'}} às {{postagem.data | date:
                        'HH:mm'}} </small>
                </div>
            </div>
        </div>
    </div>


    <div class="row d-flex justify-content-center">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-danger " routerLink='/inicio'>Não</button>
            <button class="ml-3 btn btn-success" (click)='apagarPostagem()'>Sim</button>
        </div>
    </div>

