#img-bg{
    background-image: url('https://i.imgur.com/d5bMdDJ.jpg');

    min-height: 657px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.border{
    
    border-radius: 30px;
}
button{
    border: solid #acb950;
    background-color: #acb950;
}
button:hover{
    border: solid #acb950;
    background-color: #556B2F;
}

a{
    color: white;
    
}

a:hover{
    color: #acb950;
}

.link{
    color: #acb950;
}

.img-br{
    background-image: url(https://i.imgur.com/fISmU5z.jpg);
   
    margin: 0;
    background-repeat:no-repeat;
    background-size: cover;
   /* box-shadow: 70px -20px teal;*/   
}
.box{
    box-shadow: 5px 3px 3px  rgb(189, 221, 168);
}
.backgo{
    min-height: 500px;
}