<div class="container mt-5 mb-5">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Atualizar postagem</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <!--Formulario nova postagem-->

            <div class="form-group">
                <label for="quantidade">Título</label>
                <input [(ngModel)]="postagem.quantidade" type="text" class="form-control" id="quantidade"
                    placeholder="Digite o título">
            </div>

            <div class="form-group">
                <label for="categoria">Categoria</label>
                <textarea [(ngModel)]="postagem.categoria" class="form-control" id="categoria" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="comunidade">Escolha seu comunidade ou <a routerLink='/comunidade' data-dismiss="modal">cadastre um
                        novo</a>:
                </label>
                <select [(ngModel)]='idComunidade' (change)='getByIdComunidade()' class="form-control" name="comunidade" id="comunidade">
                    <option *ngFor='let item of listaComunidades' value='{{item.id}}'>
                        {{item.nome}}
                    </option>
                </select>
            </div>
            <!--/Formulario nova postagem-->

            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    [routerLink]="['/inicio']">Cancelar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)='atualizarPostagem()'
                    data-dimiss='modal'>Atualizar</button>
            </div>

        </div>
    </div>
</div>