.fs-55 {
    font-size: 55pt;
}

.fs-18 {
    font-size: 18pt;
}

#inputComentario {
    border-radius: 15px;
}

#button-addon2 {
    border-radius: 15px;
}

.btn-link {
    text-decoration: none;

}
.link{
    padding:2px;
    color: #556B2F;
    border: 2px solid #556B2F;
    border-radius: 5px;
}

a{
    color: black;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    
}
.abotH:hover{
    background-color: #acb950;
    color: white;
    padding: 4px;
    border-radius: 5px;
}
ul{
    list-style: none;
}
button{
    font-family: 'Noto Sans', sans-serif;

}