  .imgLogo {
      width: 100px;
      margin: 0;
  }

  .imgbg {
      background-image: url(../../assets/img/folha_maior.jpg);
      background-repeat: repeat-y;
      background-size: cover;
  }

  .imgbg {
      background-image: url(../../assets/img/75.jpg);
  }

  .tof {
      filter: grayscale()
  }

  #background {
      background-color: 647C64;
  }

  #bg {
      background-color: #556B2F;
  }

  p {
      margin: 0;
  }

  .tm-social {
      width: 450px;
      height: 250px;
  }

  .tm-social2 {
      width: 50px;
      height: 50px;
  }

  .branco {
      background-color: rgba(255, 255, 255, 0.3);
      padding: 4px;
      border-radius: 10px;
  }

  p {
      font-weight: 500;
  }

  body {
      background-image: url(../../assets/img/fundo.jpg);
  }